__pycache__
.idx
.venv
.vscode
myenv
result
agents/*/__private*
agents/*/.env
agents/*/*/.env
agents/*/*/*/.env
agents/*/*/toolbox
*/*.json
*/*.pyc
*/*.html
requirements142.txt
.env
toolbox
__private*/
*/*/toolbox
*evalset_result.json*
*.html